<link rel="stylesheet" href="css/index.css">
<div class="box">
    <div id="header">
        <h1 id="box-heading">TODO APP</h1>
    </div>
    <div id="myform">
        <form action="/" method="POST">
            <div id="param1">
                <label>Description</label><br>
                <input type="text" name="description" placeholder="What do you want to do?" id="Description" required>
            </div>
            <div id="TwoParam">
                <div class="parta" id="param2" >
                    <select name="category" id="cat" required>
                        <option value="">Select a Category.</option>
                        <option value="Task">Task</option>
                        <option value="School">School</option>
                        <option value="Work">Work</option>
                        <optio value="Self">Self</optio>
                        <option value="Home">Home</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="partb" id="param3">
                    <input type="date" name="date" id="mydate" required >
                </div>
            </div>
            <div id="Buttons">
                <button id="Addbtn">Add Task</button>
            </form>
            <form action="/detail"  method="POST">
                <button id="Delbtn">Remove Task</button>
            </div>
            <% var count=0; %>
            <% for(let i=0;i<mylist.length;i++){ %>
                <% if(mylist.length >=1){ %>
                    <% if(count<1){ %>
                    <div id="display-task-heading">
                        <h1 id="display-i-head">Todo List<br><<<<<< >>>>>>></h1>
                    </div>
                    <% ++count; } %>
            <div id="display-tasks">
                <div id="display-body">
                        <input type="checkbox" name="<%= mylist[i]._id %>" class="my-checkbox" value="<%= mylist[i]._id %>">
                        <p id="display-i-name"><%= mylist[i].task %><br><span id="display-i-date"><i class="fas fa-calendar-day"></i> <%= mylist[i].date %></span></p>
                        <button id="tag"><%= mylist[i].category %></button>
                        
                </div>
                <% } %>
            </div>
            <% } %>
        </form>

    </div>
</div>
<script src="js/index.js"></script>